<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/sbin:/sbin:/bin</string>
	</dict>
	<key>Label</key>
	<string>com.tjluoma.au-xld</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/env</string>
		<string>au-xld.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/au-xld-stderr.txt</string>
	<key>StandardOutPath</key>
	<string>/tmp/au-xld-stdout.txt</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>6</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Umask</key>
	<integer>63</integer>
</dict>
</plist>
